header {
    background-color: navy;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: lightblue;
    color: black;
}

footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

h1 {
    font-family: "Science Gothic";
}


header a {
    text-decoration: none;
    color: lightblue;
    padding: 12px;
    align-items: center;
    display: flex;
    font-size: 2vh
}

header a:hover {
    text-decoration: underline;
    color: white;
}

header div{
    display: flex;
}

footer a {
    text-decoration: none;
    color: lightblue;
    padding: 12px;
    align-items: center;
    font-size: 2vh;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

form{
    text-align: center;
    width: 33%;
    margin: 48px; 
}

.form-row{
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 24px;
}

/* CSS Advanced media query */

@media screen and (max-width: 600px) {
    form {
        width: 80%;
        margin: 24px;
    }
}